@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:ital@0;1&display=swap')

body,html
  margin: 0
  padding: 0

#__next // root
  display: grid
  grid-template-rows: auto 1fr auto

#header
  font-size: 1.2em

  .greeting
    font-family: Montserrat, sans-serif
    font-weight: 800
    margin: 1.5em

    &:first-letter
      text-transform: uppercase
