@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:ital@0;1&display=swap')

body,html, *
  margin: 0
  padding: 0
  // background-color: #121212
  // color: #ffffff

#__next // root
  display: grid
  grid-template-rows: auto 1fr auto

#header
  place-self: center

  .title
    justify-self: center
    font-size: 1.2em
    font-family: Montserrat, sans-serif
    font-weight: 800
    margin: 1.6em

  .greeting
    justify-self: start
    font-size: 1.2em
    font-family: Montserrat, sans-serif
    font-weight: 800
    margin: 1.6em

    &:first-letter
      text-transform: uppercase


a
  color: black
  text-decoration: none

ol, ul
  list-style: none

  li
    padding: .8em
    border-bottom: 1px solid #1F0000

    &:first-child
      padding-top: 0

    &:last-child
      border-bottom: none

main
  place-self: center
  width: 80vw
